.push-down {
     margin-bottom: 45px;
}

.store-img {
    width: 100%;
}

.img-size {
    width: 90px;
    height: 90px;
    margin: 3%;
}

.img-medium {
    width: 180px;
    height: 130px;
    margin: 4%;
}
