.push-down {
     margin-bottom: 45px;
}

.store-img {
    width: 100%;
}

.img-size {
    width: 40px;
    height: 40px;
    margin: 20%;
}

#frames {
    
}

#wheels {
    
}

#gears {
    
}

#accessories {
    
}