<div class="col-md-offset-5 col-md-2 push-down">
    <h1>Frames</h1>
</div>
<div class="fold" id="frames">
    <div class="frames">
       <div class="col-md-offset-3 col-md-6 push-down">
            <img src="../img/{{ frameImg }}" alt="Frames with color" class="store-img">
        </div>
         <div class="bs-component col-md-offset-4 col-md-4 push-down">
              <div class="btn-group btn-group-justified">
                <a class="btn btn-default" ng-click="frameOrange()">Orange</a>
                <a class="btn btn-default" ng-click="frameGreen()">Green</a>
                <a class="btn btn-default" ng-click="frameYellow()">Yellow</a>
              </div>
        </div>
    </div>
</div>
<div class="col-md-offset-5 col-md-2 push-down">
    <h1>Wheels</h1>
</div>
<div class="fold" id="wheels">
    <div class="frames">
       <div class="col-md-offset-3 col-md-6 push-down">
            <img src="../img/{{ wheelImg }}" alt="wheels with color" class="store-img">
        </div>
         <div class="bs-component col-md-offset-4 col-md-4 push-down">
              <div class="btn-group btn-group-justified">
                <a class="btn btn-default" ng-click="wheelOrange()">Orange</a>
                <a class="btn btn-default" ng-click="wheelGreen()">Green</a>
                <a class="btn btn-default" ng-click="wheelYellow()">Yellow</a>
              </div>
        </div>
    </div>
</div>
<div class="fold" id="gears">
    
</div>
<div class="fold" id="accessories">
    
</div>